:root{
    --header-color: #212121;
    --accent-color: #2196F3;
    --header-tel-color: #757575;
}

.list{
    list-style: none;
}

body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    color: #212121;
}
.v{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  /* ------Header*/
  .header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .header-link:focus, .header-link:hover, .header-link:active{
      color: var(--accent-color);
  }
  .header-link.current{
      color: var(--accent-color);
  }
  .header-mail:focus, .header-mail:hover{
      color: var(--accent-color);
  }
  .header-tel:hover, .header-tel:focus{
      color: var(--accent-color);
  }
  
  .link{
      text-decoration: none;
  }
  .header-tel, .header-mail  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header-logo-left{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .header-logo-right{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
  }
  /*stilization main*/
.our-command {
      background-color: #F5F4FA;;
  }
  /*-----Hero----*/
.hero-pretitle {background-color:#2F303A;
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.hero-button {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color:#2196F3 ;
}
.hero-button:focus, .hero-button:hover {
    color: #FFFFFF;
    background-color: #188CE8;
}

/*---Advantage---*/
.advantage-item-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #212121;
text-transform: uppercase;
}
.advantage-item-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: #757575;
}
/*---Activities--*/
.activities-pretitle{

}
.activities-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}
/*---Team---*/
.team-pretitle{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #212121;
}
.team-item-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #212121;
}
.team-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}
/*-----Portfolio--*/

.portfolio-btn-item{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
background-color:  #F5F4FA;;
}
.portfolio-btn-item:hover, .portfolio-btn-item:focus{
    color: #FFFFFF;
    background-color: #2196F3;
} 
.portfolio-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: #212121;
}
.portfolio-item-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}


/*-------Footer*/

.footer-logo-left{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em; 
    color: var(--accent-color);  
}
.footer-logo-right{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
    color:#FFFFFF ;    
}
.main-footer{background-color: #212121;}
.footer-adress, .footer-tel, .footer-mail{    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
} 
.footer-adress:hover, .footer-adress:focus{
    color: #FFFFFF;
}
.footer-tel:hover, .footer-tel:focus{
    color: #FFFFFF;
}
.footer-mail:focus, .footer-mail:hover{
    color: #FFFFFF;
}
